@grid-item-padding-bottom: 12px;

@grid-item-padding-top: 12px;

@grid-item-bg-color: #ffffff;

@grid-item-title-color:rgba(0, 0, 0, .9);

@grid-item-title-font-size:12px;

@grid-item-description-font-size:12px;

@grid-item-description-color: rgba(0, 0, 0, .4);

@grid-item-hover-bg-color: #f2f3f5;

@grid-item-border-color: @component-stroke;
