// color
@dialog-bg-color: #fff;
@dialog-title-text-color: @text-color-primary;
@dialog-body-text-color: @text-color-secondary;
@dialog-btn-border-color: #eee;
@dialog-btn-bg-color-active: rgba(0, 0, 0, .05);
@dialog-btn-default-color: @text-color-primary;
@dialog-btn-primary-color: @brand-color;
@dialog-btn-success-color: @success-color;
@dialog-btn-warning-color: @warning-color;
@dialog-btn-error-color: @error-color;
@dialog-input-bg-color: #f0f0f0;
@dialog-input-color: @text-color-primary;
@dialog-input-placeholder-color: @text-color-disabled;

// font-size
@dialog-title-font-size: calc(@font-size * 1.6);
@dialog-body-font-size: calc(@font-size * 1.6);
@dialog-btn-font-size: calc(@font-size * 1.6);
@dialog-input-font-size: calc(@font-size * 1.6);

// size
@dialog-btn-height: 56px;

// line-height
@dialog-title-line-height: 24px;
@dialog-body-line-height: 24px;
@dialog-btn-line-height: 56px;
@dialog-input-line-height: @text-line-height;

// size
@dialog-width: 320px;
@dialog-body-min-height: 40px;
@dialog-body-max-height: 288px;

// padding
@dialog-header-padding: 32px calc(@spacer * 2.5) 0;
@dialog-body-padding: 0 calc(@spacer * 2.5);

@dialog-body-first-child-padding: 32px calc(@spacer * 2.5);
@dialog-btn-padding: 0 @spacer-1;
@dialog-input-padding:  calc(@spacer * .75);

// margin
@dialog-footer-margin-top: 32px;
@dialog-input-margin-top: calc(@spacer * .75);

// border-radius
@dialog-border-radius: @radius-small;
@dialog-input-radius: calc(@radius-small / 2);
