// title 的间距
@descriptions-header-margin: @comp-margin-m;

// 间距
@descriptions-padding-l: @comp-paddingTB-l;
@descriptions-padding-m: @comp-paddingLR-m @comp-paddingLR-l;
@descriptions-padding-s: @comp-paddingLR-s @comp-paddingLR-l;

// border
@descriptions-td-border: 1px solid @component-border;
