// 层级变量
@guide-z-index: 999999;
@guide-overlay-z-index: @guide-z-index - 2;
@guide-highlight-z-index: @guide-z-index - 1;
@guide-reference-z-index: @guide-z-index;

// margin 间距相关
@comp-margin-xxl: 24px;
@comp-margin-l: 16px;
@comp-margin-m: 12px;
@comp-margin-s: 8px;
@comp-margin-xs: 4px;
@guide-footer-popover-margin-top: @comp-margin-xxl;
@guide-dialog-desc-margin-top: @comp-margin-s;
@guide-tooltip-desc-margin-top: @comp-margin-xs;
@guide-action-margin-right: @comp-margin-m;
@guide-popover-margin-top: @comp-margin-l;

// padding 相关
@comp-padding-xs: 4px;
@comp-padding-xxl: 24px;
@guide-popover-content-padding: @comp-padding-xs;
@guide-dialog-content-padding: @comp-padding-xxl 0;
@guide-dialog-footer-padding: 0 @comp-padding-xxl;

// border 相关
@guide-highlight-border-radius: @radius-default; // 6px
@guide-popover-border-radius: @radius-large; // 9px
@guide-dialog-border-radius: @radius-extra-large; // 12px

// color 相关
@guide-popover-border-color: @gray-color-4;

// font 相关
@guide-popover-title-font-size: @font-size-m;
@guide-popover-desc-font-size: @font-size-base;
@guide-dialog-title-font-size: 18px;
@guide-dialog-desc-font-size: @font-size-m;
@guide-popover-title-line-height: 24px;
@guide-popover-desc-line-height: 22px;
@guide-dialog-title-line-height: 26px;
@guide-dialog-desc-line-height: 24px;
