// 层级变量
@guide-overlay-z-index: @z-index-guide - 2;
@guide-highlight-z-index: @z-index-guide - 1;
@guide-reference-z-index: @z-index-guide;

// margin 间距相关
@guide-footer-popup-margin-top: @comp-margin-l;
@guide-dialog-desc-margin-top: @comp-margin-l;
@guide-tooltip-desc-margin-top: @comp-margin-s;
@guide-action-margin-right: @comp-margin-s;

// padding 边距
@guide-dialog-padding: @comp-paddingTB-xxl @comp-paddingLR-xxl;
@guide-tooltip-padding: @comp-paddingTB-m @comp-paddingLR-s;
