.tdesign-demo-block--swiper {
  // width: 800px;

  h3 {
    margin: 10px 0;
  }

  .demo-item {
    display: flex;
    height: 280px;
    background-color: #4b5b76;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
  }

  .demo-large {
    height: 420px;
  }

  .demo-small {
    height: 175px;
  }

  .demo-card {
    width: 100%;
  }

  .tdesign-demo-block-row {
    margin-top: 10px;
    text-align: center;
  }
}
