@import "../../../base.less";

@import "./_var.less";

.@{prefix}-pull-down-refresh {
  overflow: hidden;
  height: 100%;

  &__track {
    position: relative;
    height: 100%;

    &--loosing {
      transition: transform ease .24s;
    }
  }

  &__tips {
    position: absolute;
    color: @pull-down-refresh-color;
    font-size: @font-size-base;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  &__loading {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .t-loading__text {
      font-size: @font-size-base;
      color: @pull-down-refresh-text-color;
    }
  }

  &__wrap {
    position: relative;
  }
}
