// CellGroup
@cell-group-background-color: transparent; //@bg-color-container;
@cell-group-color: @text-color-placeholder;
@cell-group-background-color: #F5F5F5;
@cell-group-padding: @spacer-1 16px ;
@cell-group-font-size: @font-size-base;
@cell-group-line-height: 22px;
