@import "../../base.less";

@statistic-cls: ~"@{prefix}-statistic";

@statistic-text-color: @text-color-secondary;

@statistic-title-font-size: @font-body-medium;
@statistic-title-margin-bottom: @comp-margin-s;

@statistic-value-font-size: var(--td-font-size-headline-medium);
@statistic-value-line-height: var(--td-line-height-headline-medium);
@statistic-value-text-color: @text-color-primary;

@statistic-unit-font-size: @font-size-base;
@statistic-unit-margin-left: @comp-margin-xs;

@statistic-prefix-font-size: @font-size-xl;
@statistic-prefix-margin-right: @comp-margin-s;

@statistic-suffix-font-size: @font-size-xl;
@statistic-suffix-margin-left: @comp-margin-s;

@statistic-extra-margin-top: @spacer-1;

@statistic-font-family: TCloudNumber, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei,
  Source Han Sans CN, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;
