@textarea-background-color: @bg-color-container;
@textarea-text-color: @text-color-primary;
@textarea-placeholder-text-color: @text-color-placeholder;
@textarea-disabled-text-color: @text-color-disabled;
@textarea-font-size: @font-size-l;
@textarea-line-height: 24px;
@textarea-counter-color: @text-color-placeholder;
@textarea-counter-font-size: @font-size-s;
@textarea-counter-line-height: 20px;
@textarea-height: 96px;
// 间距
@textarea-vertical-padding: @spacer-1;
@textarea-horizontal-padding: @spacer-2;
