@import "../../../base.less";

@import "./_var.less";

.@{prefix}-drawer {
  background: @drawer-bg-color;
  height: 100vh;
  width: @drawer-width;
  display: flex;
  flex-direction: column;

  &--hover {
    background-color: @drawer-hover-color;
  }

  &__title {
    font-weight: 600;
    font-size: @drawer-title-font-size;
    padding: 24px 16px 8px;
    color: @drawer-title-color;
  }

  &__sidebar {
    overflow-y: scroll;
    height: @drawer-sidebar-height;

    &-item {
      display: flex;
      align-items: center;
      .border(bottom, @drawer-border-color);

      padding: @drawer-item-padding 0 @drawer-item-padding @drawer-item-padding;
      line-height: @drawer-item-height;

      &::after {
        left: @drawer-item-padding;
      }

      &-title {
        flex: 1;
        color: @drawer-title-color;
      }

      &-icon {
        padding-right: 8px;
        color: @drawer-icon-color;
        font-size: @drawer-item-icon-size;
      }
    }
  }

  &__footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: @drawer-footer-padding-bottom;
  }
}
