@import "../../base.less";

@import "./_var.less";

.@{prefix}-select-option__highlight-item {
  .@{prefix}-is-highlight {
    color: @auto-complete-option-highlight-color;
  }
}

.@{prefix}-auto-complete {
  width: 100%;
  .@{prefix}-input__suffix-clear {
    display: none;
  }

  &:hover {
    .@{prefix}-input__suffix-clear {
      display: inline-block;
    }
  }
}
