{
  "extends": [
    "@tencent/eslint-config-tencent",
    "plugin:vue/essential"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "vue",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "camelcase": 0,
    "no-new": 1,
    "new-cap": 0,
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "func-style": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": 2,
        "vue/html-indent": [
          2,
          2
        ],
        "vue/return-in-computed-property": 1,
        "vue/order-in-components": 2,
        "vue/component-name-in-template-casing": [
          2,
          "kebab-case"
        ],
        "vue/require-default-prop": 0
      }
    },
    {
      "files": [
        "**/demos/*", "script/**/*", "script/*"
      ],
      "rules": {
        "no-console": 0
      }
    }
  ]
}
