snapshot*
dist
lib
es
node_modules
src/_common
static
cypress
script/test/cypress
_site
temp*
static/

examples
site/*
!site/v3.js
src/addon
src/calendar
src/locale
src/upload
src/dropdown
src/transfer
src/time-picker
src/utils
src/textarea
typings
dist
es
lib
types