snapshot*
dist
lib
es
node_modules
common
static
cypress
script/test/cypress
_site
temp*
static/

examples
src/*
site/*
!site/v3.js
!src/button
!src/icon
!src/popup
!src/grid
!src/progress
!src/list
!src/dialog
!src/notification
!src/switch
!src/utils
!src/badge
!src/checkbox