node_modules
package-lock.json
.vscode
.DS_Store
.vscode
lib
dist
_site
package
tmp*
temp*
coverage
test-report.html
.idea/
yarn.lock
*.zip
.history
script/test/cypress/screenshots
script/test/cypress/videos
script/test/cypress/results
script/test/cypress/support
results/

