node_modules
.DS_Store

# build files
es/
esm/
lib/
dist/

_site
package
tmp*
temp*
coverage
test-report.html
.idea/
package-lock.json
yarn.lock
package-lock.json
*.zip
.history
script/test/cypress/screenshots
script/test/cypress/videos
script/test/cypress/results
script/test/cypress/support
results/
yarn-error.log
cypress
cypress.json
Dockerfile
robotMsg.json
