# Adding a new dependency to the root workspace package fails, unless the --ignore-workspace-root-check or -w flag is used.
ignore-workspace-root-check=true
# When true, pnpm will use a JavaScript implementation of a bash-like shell to execute scripts.
shell-emulator=true
