@upload-width: var(--td-upload-width, 80px);
@upload-height: var(--td-upload-height, 80px);
@upload-add-color: var(--td-upload-add-color, @text-color-placeholder);
@upload-add-bg-color: var(
  --td-upload-add-bg-color,
  @bg-color-secondarycontainer
);
@upload-background: var(--td-upload-background, @upload-add-bg-color);
@upload-radius: var(--td-upload-radius, @radius-default);
@upload-add-icon-font-size: var(--td-upload-add-icon-font-size, 28px);
@upload-delete-icon-color: var(--td-upload-delete-icon-color, @text-color-anti);
@upload-grid-columns: var(--td-upload-grid-columns, 4);
