@dropdown-menu-primary-color: @brand-color;
@dropdown-menu-primary-color-1: @brand-color-light;

@dropdown-menu-color-block: @bg-color-container;

@dropdown-menu-disabled-color: @text-color-disabled;

@dropdown-menu-level-2-color: @text-color-secondary;

@dropdown-menu-level-1-color: @text-color-primary;

@dropdown-menu-tree-col1-color: #f5f5f5;

@dropdown-menu-tree-col2-color: #f9f9f9;

@dropdown-item-height: 100%;

@dropdown-item-border-radius: @radius-small;
@cell-vertical-padding: 12px;
@cell-horizontal-padding: 16px;
@cell-border-color: @component-stroke;
