@action-sheet-cell-font-size: 16px;

@action-sheet-cell-padding-y: 13px;

@action-sheet-cell-active-bg-color: #ECECEC;

@action-sheet-cell-disabled-color: rgba(0, 0, 0, .16);

@action-sheet-action-font-size: 16px;

@action-sheet-action-space: 8px;

@action-sheet-action-space-bg-color: #F6F6F6;

@action-sheet-action-padding-y: 13px;

@action-sheet-grid-padding-top: 24px;

@action-sheet-grid-page-padding-x: 20px;

@action-sheet-grid-cell-width: 33.3333%;

@action-sheet-grid-row-space: 12px;

@action-sheet-grid-icon-size: 48px;

@action-sheet-grid-indicator-size: 6px;

@action-sheet-grid-indicator-space: 4px;

@action-sheet-grid-indicator-color: #CCCCCC;

@action-sheet-grid-text-color: @text-color-primary;
