@countdown-small-unit-margin: 4px; // 'small'尺寸单位分割文本左右间距
@countdown-medium-unit-margin: 5px; // 'medium'尺寸单位分割文本左右间距
@countdown-large-unit-margin: 6px; // 'large'尺寸单位分割文本左右间距
@countdown-unit-color: @text-color-primary; // 带单位分割线文本颜色
@countdown-no-unit-color: @error-color-6; // 无单位分割线文本颜色
@countdown-large-no-unit-margin: 6px; // 'large'尺寸无单位分割文本左右间距
@countdown-medium-no-unit-margin: 3px; // 'medium'尺寸无单位分割文本左右间距
@countdown-small-no-unit-margin: 2px; // 'small'尺寸无单位分割文本左右间距
@countdown-small-bg-width: 20px; // 'small'尺寸方/圆底背景宽高
@countdown-medium-bg-width: 24px; // 'medium'尺寸方/圆底背景宽高
@countdown-large-bg-width: 28px; // 'large'尺寸方/圆底背景宽高
@countdown-small-default-font-size: @font-size-base; // 'small'尺寸纯数字倒计时文本大小
@countdown-small-square-font-size: @font-size-s; // 'small'尺寸带方形底倒计时文本大小
@countdown-small-round-font-size: @font-size-s; // 'small'尺寸带圆形底倒计时文本大小
@countdown-small-unit-font-size: @font-size; // 'small'尺寸单位分割文本大小
@countdown-small-no-unit-font-size: @font-size-base; // 'small'尺寸无单位分割文本大小
@countdown-medium-default-font-size: @font-size-m; // 'medium'尺寸纯数字倒计时文本大小
@countdown-medium-square-font-size: @font-size-base; // 'medium'尺寸带方形底倒计时文本大小
@countdown-medium-round-font-size: @font-size-base; // 'medium'尺寸带圆形底倒计时文本大小
@countdown-medium-unit-font-size: @font-size-s; // 'medium'尺寸单位分割文本大小
@countdown-medium-no-unit-font-size: @font-size-m; // 'medium'尺寸无单位分割文本大小
@countdown-large-default-font-size: 18px; // 'large'尺寸纯数字倒计时文本大小
@countdown-large-square-font-size: @font-size-m; // 'large'尺寸带方形底倒计时文本大小
@countdown-large-round-font-size: @font-size-m; // 'large'尺寸带圆形底倒计时文本大小
@countdown-large-unit-font-size: @font-size-base; // 'large'尺寸单位分割文本大小
@countdown-large-no-unit-font-size: 18px; // 'large'尺寸无单位分割文本大小

// 纯数字倒计时文本颜色
@countdown-default-text-color: var(--td-countdown-default-color, @text-color-primary);
// 方形/圆形底倒计时文本颜色
@countdown-text-color: var(--td-countdown-round-color, @text-color-anti);
// 方形/圆形底背景颜色
@countdown-bg-color: var(--td-countdown-bg-color, @error-color-6);
// 带方形底倒计时圆角大小
@countdown-square-border-radius: var(--td-countdown-square-border-radius, @radius-small);
// 带圆形底倒计时圆角大小
@countdown-round-border-radius: var(--td-countdown-round-border-radius, @radius-circle);

@countdown: ~"@{prefix}-count-down";
@item: ~"@{countdown}__item";
@split: ~"@{countdown}__split";
