@cascader-active-color: rgb(0, 82, 217);
@text-color: rgba(0, 0, 0, 90%);
@wrapper-min-height: 400px;
@cascader-disabled-color: #c0c0c0;

@cascader-title-color: @text-color-primary;
@cascader-options-title-color: @text-color-placeholder;

@cascader-border-color: @component-stroke;

// steps
@cascader-step-height: 44px;
@cascader-step-active-color: @brand-color;
@cascader-step-dot-size: 8px;
@cascader-step-dot-color: @text-color-disabled;
@cascader-step-line-color: @text-color-disabled;
