@tab-bar-height: 48px;

@tab-bar-bg-color: @bg-color-container;

@tab-bar-border-color: @component-stroke;

@tab-bar-hover-bg-color: rgba(0, 0, 0, .05);

@tab-bar-active-color: @brand-color;

@tab-bar-color: @text-color-secondary;
