[class*="@{d-prefix}-demo-item--grid"] {

  .@{prefix}-col > div {
    min-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: @brand-color-6;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }

  .@{prefix}-col:nth-of-type(2n) > div {
    background: @brand-color-4;
  }
}
