// 颜色
@select-bg-color: @bg-color-specialcomponent;
@select-border-color: @border-level-2-color;
@select-border-color-active: @brand-color;
@select-selected-color: @brand-color;
@select-selected-bg-color: @brand-color-light;
@select-selected-bg-color-hover: @select-selected-bg-color;
@select-option-bg-color-hover: @bg-color-container-hover;
@select-option-bg-color-active: @bg-color-container-active;
@select-option-checkbox-color: @bg-color-container-hover;
@select-option-group-header-color: @text-color-placeholder;
@select-option-color: @text-color-primary;
@select-bg-color-disabled: @bg-color-component-disabled;
@select-placeholder-color: @text-color-placeholder;
@select-placeholder-color-disabled: @text-color-disabled;
@select-color-disabled: @text-color-disabled;
@select-color-empty: @text-color-disabled;
@select-icon-color: @text-color-placeholder;
@select-icon-color-disabled: @text-color-disabled;
@select-optiongroup-border-color: @border-level-1-color;
@select-input-color: @text-color-primary;
@select-option-checkbox-label-color-hover: inherit;
@select-option-checkbox-input-color-hover: @brand-color;
@select-right-icon-hover: @brand-color;

// 尺寸
@select-height-s: @comp-size-xs;
@select-height-default: @comp-size-m;
@select-height-l: @comp-size-xl;
@select-option-height-s: @comp-size-xxs;
@select-option-height-default: @comp-size-s;
@select-option-height-l: @comp-size-l;
@select-dropdown-max-height: 300px;

// font
@select-font-s: @font-body-small;
@select-font-l: @font-body-large;
@select-font-m: @font-body-medium;

//阴影
@select-dropdown-shadow: @shadow-2;
@select-input-shadow: 0 0 0 2px @brand-color-focus;

//radius
@select-border-radius: @border-radius-default;
@select-option-border-radius: @border-radius-default;

//透明度

// padding
@select-option-padding-s: 0 @comp-paddingLR-s;
@select-option-padding-default: 0 @comp-paddingLR-s;
@select-option-padding-l: 0 @comp-paddingLR-m;
@select-optiongroup-border-padding: @comp-margin-xs;
@select-dropdown-padding: @pop-padding-m;
@select-dropdown-padding-l: @pop-padding-l;
@select-dropdown-padding-s: @pop-padding-s;
@select-dropdown-popup-padding: 0;
// margin
@select-optiongroup-border-margin: @comp-margin-xs;
@select-dropdown-margin: @comp-paddingTB-s 0;
@select-options-margin-top: @comp-paddingTB-xxs;
@select-empty-padding: 0 @comp-paddingLR-s;
