@rate-bg-color-default: #E3E6EB;
@rate-bg-color-selected: #EA7029;
@rate-icon-size: 20px;
@rate-space: @spacer;
@rate-text-font-size: 16px;
@rate-text-color: @text-color-secondary;
@rate-text-margin-left: 14px;
