@import "../../base.less";

@countdown-primary-color: @error-color;

// digit font-weight
@countdown-digit-font-weight: 700;
// unit font-weight
@countdown-unit-font-weight: 700;
// unit font-weight  splitWidthUnit={true}
@countdown-unit-font-weight-split-with-unit: 400;

// digit font-size
// theme="default"
@countdown-digit-font-size-default-small: @font-size-base;
@countdown-digit-font-size-default-medium: @font-size-l;
@countdown-digit-font-size-default-large: @font-size-xl;
// theme="default" && splitWidthUnit={true}
@countdown-digit-font-size-default-split-with-unit-small: @font-size-l;
@countdown-digit-font-size-default-split-with-unit-medium: @font-size-xl;
@countdown-digit-font-size-default-split-with-unit-large: calc(@font-size * 2);
// theme="square"
@countdown-digit-font-size-square-small: @font-size-s;
@countdown-digit-font-size-square-medium: @font-size-base;
@countdown-digit-font-size-square-large: @font-size-l;
// theme="round"
@countdown-digit-font-size-round-small: @font-size-s;
@countdown-digit-font-size-round-medium: @font-size-base;
@countdown-digit-font-size-round-large: @font-size-l;

// digit padding
// theme="square"
@countdown-digit-padding-square-small: 0 3px;
@countdown-digit-padding-square-medium: 0 4px;
@countdown-digit-padding-square-large: 0 5px;
// theme="round"
@countdown-digit-padding-round-small: 0 3px;
@countdown-digit-padding-round-medium: 0 4px;
@countdown-digit-padding-round-large: 0 5px;

// digit border-radius
// theme="square"
@countdown-digit-border-radius-square-small: @radius-small;
@countdown-digit-border-radius-square-medium: @radius-small;
@countdown-digit-border-radius-square-large: calc(@radius-small + 2px);
// theme="round"
@countdown-digit-border-radius-round: @radius-circle;
// digit size
// theme="square"
@countdown-digit-size-square-small: 20px;
@countdown-digit-size-square-medium: 24px;
@countdown-digit-size-square-large: 28px;
// theme="round"
@countdown-digit-size-radius-round-small: 20px;
@countdown-digit-size-radius-round-medium: 24px;
@countdown-digit-size-radius-round-large: 28px;

// unit font-size
// theme="default"
@countdown-unit-font-size-default-small: @font-size-s;
@countdown-unit-font-size-default-medium: @font-size-base;
@countdown-unit-font-size-default-large: @font-size-l;
// theme="square"
@countdown-unit-font-size-square-small: @font-size-base;
@countdown-unit-font-size-square-medium: @font-size-l;
@countdown-unit-font-size-square-large: @font-size-xl;
// theme="round"
@countdown-unit-font-size-round-small: @font-size-base;
@countdown-unit-font-size-round-medium: @font-size-l;
@countdown-unit-font-size-round-large: @font-size-xl;
// splitWidthUnit={true}
@countdown-unit-font-size-split-with-unit-small: @font-size-xs;
@countdown-unit-font-size-split-with-unit-medium: @font-size-s;
@countdown-unit-font-size-split-with-unit-large: @font-size-base;

// unit width
// theme="default"
@countdown-unit-padding-default-small: 0 2px;
@countdown-unit-padding-default-medium: 0 3px;
@countdown-unit-padding-default-large: 0 4px;
// theme="square"
@countdown-unit-padding-square-small: 0 4px;
@countdown-unit-padding-square-medium: 0 5px;
@countdown-unit-padding-square-large: 0 6px;
// theme="round"
@countdown-unit-padding-round-small: 0 4px;
@countdown-unit-padding-round-medium: 0 5px;
@countdown-unit-padding-round-large: 0 6px;
// splitWidthUnit={true}
@countdown-unit-padding-split-with-unit-small: 0 4px;
@countdown-unit-padding-split-with-unit-medium: 0 5px;
@countdown-unit-padding-split-with-unit-large: 0 6px;
