@stepper-padding: 0;

@stepper-font-size: @font-size-l;

@stepper-line-height: 24px;

@stepper-input-width: 70px;

@stepper-input-height: 24px;

@stepper-input-color: @text-color-primary;

@stepper-input-font-size: 16px;

@stepper-button-width: 24px;

@stepper-button-height: 24px;

@stepper-icon-color: @text-color-primary;

@stepper-icon-color-disabled: @text-color-disabled;

@stepper-color-disabled: @text-color-disabled;

@stepper-pure-icon-width: 9px;

@stepper-pure-background-color: @gray-color-3;

@stepper-pure-border: 2px;

@stepper-pure-input-width: 36px;

@stepper-pure-input-margin: 0 3px;

@stepper-pure-input-font-size: @font-size-s;
