@radio-title-font-size: calc(@font-size * 1.6);

@radio-title-font-color: @text-color-primary;

@radio-content-font-size: calc(@font-size * 1.4);

@radio-title-color: @text-color-primary;

@radio-content-color: @text-color-placeholder;

@radio-border-color: @gray-color-4;

@radio-selected-color: @brand-color;

@radio-disable-color: @gray-color-4;

@radio-width: 22px;

@radio-height: 22px;

@radio-inner-width: 14px;

@radio-inner-height: 14px;

@radio-icon-wrap-width: 24px;

@radio-icon-wrap-height: 24px;

@radio-icon-wrap-font-size: calc(@font-size * 2.4);

@radio-icon-wrap-margin-right: 10px;

@radio-icon-wrap-margin-left: 10px;

@radio-content-title-padding-right: 22px;

@radio-content-inner-margin-top: 8px;
