@import "../../../base.less";

@import "./_var.less";

.@{prefix}-grid {
  position: relative;
  overflow: hidden;
  display: grid;
  box-sizing: border-box;

  &--bordered {
    &::after {
      .hairline-top(@grid-item-border-color);
    }
  }

  &--card {
    margin: 0 16px;
    border-radius: @grid-card-radius;
    overflow: hidden;
  }

  &--auto-size {
    overflow: scroll;
    flex-wrap: nowrap;
    display: flex;
  }
}
