@input-vertical-padding: var(--td-input-vertical-padding, 16px); //输入框垂直方向内间距

@input-default-text-color: var(--td-input-default-text-color, @text-color-primary); // 'default' 状态输入框文本颜色
@input-success-text-color: var(--td-input-success-text-color, @success-color); // 'success' 状态输入框文本颜色
@input-warning-text-color: var(--td-input-warning-text-color, @warning-color); // 'warning' 状态输入框文本颜色
@input-error-text-color: var(--td-input-error-text-color, @error-color); // 'error' 状态输入框文本颜色

@input-default-tips-color: var(--td-input-default-tips-color, @text-color-placeholder); // 'default' 状态辅助文本颜色
@input-success-tips-color: var(--td-input-success-tips-color, @success-color); // 'success' 状态辅助文本颜色
@input-warning-tips-color: var(--td-input-warning-tips-color, @warning-color); // 'warning' 状态辅助文本颜色
@input-error-tips-color: var(--td-input-error-tips-color, @error-color); // 'error' 状态辅助文本颜色

@input-bg-color: var(--td-input-bg-color, @bg-color-container); // 输入框背景颜色
@input-border-color: var(--td-input-border-color, @component-stroke); // 输入框分割线颜色
@input-border-left-space: var(--td-input-border-left-space, 16px);
@input-border-right-space: var(--td-input-border-right-space, 0);
@input-placeholder-text-color: var(--td-input-placeholder-text-color, @text-color-placeholder); // 输入框占位符文本颜色
@input-prefix-icon-color: var(--td-input-prefix-icon-color, @text-color-primary); // // 输入框前缀图标颜色
@input-suffix-icon-color: var(--td-input-suffix-icon-color, @text-color-placeholder); // 输入框后缀图标颜色
@input-label-text-color: var(--td-input-label-text-color, @text-color-primary); // 左侧文本颜色
@input-suffix-text-color: var(--td-input-suffix-text-color, @text-color-primary); // 后置图标前的后置内容文本颜色
@input-disabled-text-color: var(--td-input-disabled-text-color, @text-color-disabled); // 输入框禁用态文本颜色
@input-border-radius: var(--td-input-border-radius, @radius-default); // 边框圆角大小
