@picker--background-color: rgba(255, 255, 255, 1);

@picker--font-size: 16px;

@picker--font-weight: 500;

@picker-toolbar--height: 48px;

@picker-button--padding: 16px;

@picker-group--height: 200px;

@picker-mask--color-top: hsla(0, 0%, 100%, .7);

@picker-mask--color-bottom: hsla(0, 0%, 100%, .7);

@picker-item--height: 40px;

@picker-item--line-height: 40px;
