.@{d-prefix}-demo-item--input {

  .@{d-prefix}-demo-item--input__input-box {
    max-width: 500px;

    >.@{prefix}-input + .@{prefix}-input {
      margin-top: 8px;
    }

    >.@{prefix}-addon + .@{prefix}-addon {
      margin-top: 8px;
    }

    >div + div {
      margin-top: 8px;
    }

    >.@{prefix}-input,
    > div {
      max-width: 500px;
    }
  }
}
