@import "../../../base.less";

@import "./_var.less";

:host {
  display: flex;
}

.@{step} {
  &--vertical {
    padding-right: 16px;
  }
}

.@{steps} {
  display: flex;
  width: 100%;

  // 垂直
  &--vertical {
    flex-direction: column;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--vertical&--reverse {
    flex-direction: column-reverse;
  }
}
