@side-bar-width: var(--td-side-bar-width, 103px);
@side-bar-height: var(--td-side-bar-height, 100%);
@side-bar-bg-color: var(--td-side-bar-bg-color, @bg-color-secondarycontainer);

@side-bar-color: var(--td-side-bar-color, @text-color-primary);
@side-bar-font-size: var(--td-side-bar-font-size, 16px);
@side-bar-item-height: var(--td-side-bar-item-height, 56px);
@side-bar-item-line-height: var(--td-side-bar-item-line-height, 24px);
@side-bar-bg-color: var(--td-side-bar-bg-color, @bg-color-secondarycontainer);
@side-bar-disabled-color: var(--td-side-bar-disabled-color, @text-color-disabled);
@side-bar-active-color: var(--td-side-bar-active-color, @brand-color);
@side-bar-border-radius: var(--td-side-bar-border-radius, 9px);
@side-bar-icon-size: var(--td-side-bar-icon-size, 20px);
@side-bar-prefix-bg-color: var(--td-side-bar-prefix-bg-color, @bg-color-container);
