@cell-vertical-padding: 12px;

@cell-horizontal-padding: 16px;

@cell-label-width: 80px;

@cell-border-color: @component-stroke;

@cell-background-color: @bg-color-container;

@cell-font-size: @font-size-l;

@cell-summary-font-size: @font-size-base;

@cell-line-height: 24px;

@cell-hover-color: #f2f3f5;

@cell-required-color: #e34d59;
