//颜色
@avatar-bg-color: @brand-color-focus;
@avatar-text-color: @text-color-brand;

//头像大小
@avatar-size-small: @comp-size-xs;
@avatar-size-medium: @comp-size-m;
@avatar-size-large: @comp-size-xl;

//字体
@avatar-font-small: @font-size-base;
@avatar-font-medium: @font-size-l;
@avatar-font-large: @font-size-xl;

//图标
@avatar-icon-small: @comp-size-xxxs;
@avatar-icon-medium: @comp-size-xxs;
@avatar-icon-large: @comp-size-xs;

//边框
@avatar-border-radius-circle: @border-radius-circle;
@avatar-border-radius-round: @border-radius-default;
@avatar-border-color: @bg-color-container;

//组合头像偏移量
@avatar-group-offset-small: calc(0px - @size-2);
@avatar-group-offset-medium: calc(0px - @size-3);
@avatar-group-offset-large: calc(0px - @size-4);

//z-index
@avatar-group-init-zIndex: 50;
