@backtop: ~"@{prefix}-back-top";
@back-top-text-font-size: @font-size;
@back-top-text-line-height: 12px;
@back-top-icon-font-size: 22px;
@back-top-round-width: 48px;
@back-top-half-round-width: 60px;
@back-top-half-round-height: 40px;
@back-top-fixed-right: @spacer;
@back-top-fixed-bottom: @spacer-2;

@back-top-round-color: var(--td-back-top-round-color, @font-gray-1);
@back-top-round-bg-color: var(--td-back-top-round-bg-color, @font-white-1);
@back-top-round-border-color: var(--td-back-top-round-border-color, @component-border);
@back-top-round-dark-border-color: var(--td-back-top-round-border-color, @gray-color-9);
@back-top-round-border-radius: var(--td-back-top-round-border-radius, @radius-circle);
@back-top-round-dark-color: var(--td-back-top-round-dark-color, @font-white-1);
@back-top-round-dark-bg-color: var(--td-back-top-round-dark-bg-color, @gray-color-14);
@back-top-half-round-border-radius: var(--td-back-top-half-round-border-radius, @radius-round);
