//颜色
@avatar-bg-color: rgba(212,227,252,1);
@avatar-text-color: @brand-color;

//头像大小
@avatar-size-small: 32px;
@avatar-size-medium: 48px;
@avatar-size-large: 64px;

//字体
@avatar-font-small: @font-size-s;
@avatar-font-medium: @font-size-base;
@avatar-font-large: @font-size-l;

//图标
@avatar-icon-small: 16px;
@avatar-icon-medium: 24px;
@avatar-icon-large: 32px;

//边框
@avatar-border-radius-cicle: @radius-circle;
@avatar-border-radius-round: 3px;
@avatar-border-color: @bg-color-container;

@avatar-border-color: @bg-color-container;

//组合头像偏移量
@avatar-group-offset-small: -4px;
@avatar-group-offset-medium: -6px;
@avatar-group-offset-large: -8px;

//边框大小
@avatar-border-width-small: 2px;
@avatar-border-width-medium: 3px;
@avatar-border-width-large: 4px;

//z-index
@avatar-group-init-zIndex:50;
