// color
@dropdown-bg-color: @bg-color-container;
@dropdown-suffix-color: @text-color-placeholder;
@dropdown-active-color: @brand-color;
@dropdown-active-bg-color: @brand-color-light;
@dropdown-container-hover-bg-color: @bg-color-container-hover;
@dropdown-container-active-bg-color: @bg-color-container-active;
@dropdown-disable-color: @text-color-disabled;
@dropdown-text-color: @text-color-primary;
@dropdown-text-font-size: @font-size-base;
@dropdown-text-icon-size: @font-size-l;
//theme
@dropdown-theme-error-color: @error-color;
@dropdown-theme-error-bg-color: @error-color-light;
@dropdown-theme-success-color: @success-color;
@dropdown-theme-success-bg-color: @success-color-light;
@dropdown-theme-warning-color: @warning-color;
@dropdown-theme-warning-bg-color: @warning-color-light;

// border
@dropdown-border: .5px solid @component-border;

// height
@dropdown-item-height: @comp-size-s;

// padding
@dropdown-item-padding: calc(@comp-paddingTB-xs - 1px) @comp-paddingLR-s;
@dropdown-item-divider-horizon-margin: @comp-margin-s;
@dropdown-item-divider-margin: @comp-margin-xs @dropdown-item-divider-horizon-margin @comp-margin-xxs @dropdown-item-divider-horizon-margin;
@dropdown-menu-padding: @pop-padding-m;
@dropdown-menu-gap: 2px;
