.notification() {
  font: @notification-font;
  outline: 0;
  border: 0;
  background-color: @notification-color-block;
  display: flex;
  box-shadow: @notification-shadow;
  box-sizing: border-box;
  border-radius: @border-radius-medium;
  width: @notification-width-default;
  padding: @notification-padding-default;
}
