@slider-track-bg-color: @brand-color;
@slider-bar-bg-color: @component-stroke;
@slider-bar-height:2px;
@slider-hander-height: 20px;
@slider-hander-width: 20px;
@slider-font-size-base:@font-size-base;
@slider-value-color: @text-color-primary;
@slider-value-font-size: @font-size-l;
@slider-mark-text-color: @text-color-primary;
@slider-title-font-size: @font-size-l;
@slider-title-color: @text-color-primary;
@slider-title-margin-right: @spacer-2;
@slider-value-margin-left: @spacer-2;
@slider-disabled-color: @brand-color-3;

@slider-disabled-text-color: @text-color-disabled;
