/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: rgba(0, 0, 0, 0%);
  border: 0;
  cursor: pointer;
  transition: all .3s;
  user-select: none;

  /* stylelint-disable-next-line */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: none;

  /* stylelint-disable-next-line */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
}

a,
input,
button,
textarea {
  &:focus {
    outline: none;
  }
}
