// 默认宽高
@back-top-round-width: 48px;
@back-top-round-height: 48px;
@back-top-half-width: 60px;
@back-top-half-height: 40px;

// fixed定位位置
@back-top-content-right: 16px;
@back-top-content-bottom: 66px;

// 文案字体大小
@back-top-text-size: @font-size;

// 文案颜色
@back-top-text-color-black: @text-color-primary;
@back-top-text-color-white: @bg-color-container;

// 背景颜色
@back-top-backgroud-color-black: @gray-color-14;
@back-top-backgroud-color-white: @bg-color-container;

// 边框颜色
@back-top-border-color: @component-border;
