@import "../../../base.less";

@import "./_var.less";

:host {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.@{prefix}-tab-panel {
  height: inherit;
  width: inherit;
}
