@import "../../base.less";

@import "./_var.less";

.@{prefix}-list {
  &__loading {
    display: inline-flex;
    margin: 10px 0 4px;

    & > span {
      color: @gray-color-6;
    }

    &--wrapper {
      text-align: center;
    }
  }
}
