@search-vertical-padding: @spacer;

@search-horizontal-padding: @spacer-2;

@search-background-color: #FFFFFF;

@search-input-height: 40px;

@search-input-background-color: #F5F5F5;

@search-input-horizontal-padding: @spacer;

@search-input-border-radius: 4px;

@search-text-color: @text-color-primary;

@search-text-size: 16px;

@search-placeholder-text-color: @text-color-placeholder;

@search-placeholder-text-size: 16px;

@search-placeholder-text-margin-left: @spacer;

@search-cancel-button-text-size: 16px;

@search-cancel-button-text-color: @brand-color;

@search-cancel-button-padding: @spacer;

@search-cancel-button-margin-left: @spacer;
