@switch-font-size: calc(@font-size * 1.6);
@switch-width: 44px;
@switch-height: 24px;
@switch-border-radius: 15px;
@switch-background-color: @gray-color-5;
@switch-background-color-disbaled: @gray-color-2;

@switch-node-font-size: @font-size-s;
@switch-node-width: 20px;
@switch-node-height: 20px;
@switch-node-z-index: 1;

@switch-node-color: @bg-color-container;
@switch-node-background-color: @bg-color-container;
@switch-node-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);

@switch-checked-translate-x: 22px;
@switch-checked-background-color: @brand-color;
@switch-checked-background-color-disabled: @brand-color-3;

@switch-text-color: @text-color-placeholder;
@switch-text-color-disabled: @text-color-disabled;
@switch-text-height: 24px;
@switch-text-margin: 0 18px;
