@navbar-height: 50px;

@navbar-vertical-padding: 16px;

@navbar-horizontal-padding: 12px;

@navbar-height: 44px;

@navbar-font-size: 16px;

@navbar-font-line-height: 24px;

@navbar-icon-font-size: 24px;

@navbar-font-color: @text-color-primary;

@navbar-close-marginleft: 12px;
