@import "../../base.less";

@import "./_var.less";

.@{prefix}-pull-down-refresh {
  overflow: hidden;

  &__track {
    position: relative;
    height: 100%;
    transition-property: transform;
  }

  &__max {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__loading {
    width: 100%;
    font-size: @font-size-base;
    color: @pull-down-refresh-text-color;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__loading-icon {
    .t-loading__text {
      font-size: @font-size-base;
      color: @pull-down-refresh-text-color;
    }
  }
}
