@import "./_clearfix.less";

@import "./_hairline.less";

@import "./_cursor.less";

.limit-title-row() {
  /* stylelint-disable-next-line */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
