@import "../../../base.less";

@import "./_var.less";

.@{overlay} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: @overlay-bg-color;
  transition: opacity @overlay-transition-duration ease;
  opacity: 1;

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition-property: opacity;
    transition-timing-function: ease;
  }
}
