.@{d-prefix}-demo-item--table {
  .demo-table-container {
    .title {
      font-size: 14px;
      line-height: 28px;
      display: block;
      margin: 10px 0;

      i {
        font-style: normal;
      }
    }

    .status {
      position: relative;
      color: #00a870;
      margin-left: 10px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        background-color: #00a870;
        width: 6px;
        height: 6px;
        margin-left: -10px;
        border-radius: @border-radius-circle;
      }
    }

    .status.unhealth {
      color: #e34d59;

      &::before {
        background-color: #e34d59;
      }
    }

    .status.warning {
      color: #ed7b2f;

      &::before {
        background-color: #ed7b2f;
      }
    }
  }

  .demo-table-select {
    .link {
      cursor: pointer;
      margin-right: 15px;
    }

    .status {
      position: relative;
      color: #00a870;
      margin-left: 10px;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        background-color: #00a870;
        width: 6px;
        height: 6px;
        margin-left: -10px;
        border-radius: @border-radius-circle;
      }
    }

    .status.unhealth {
      color: #e34d59;

      &::before {
        background-color: #e34d59;
      }
    }
  }
}
