// 组件变量
@cascader-popup-border: .5px solid @component-border;
@cascader-popup-border-radius: @border-radius-medium;

// base
@cascader-highlight-color: @text-color-brand;
@cascader-dark-color: @text-color-primary;

// 外框主体字体大小
@cascader-font: @font-body-medium;
@cascader-font-s: @font-body-small;
@cascader-font-l: @font-body-large;

// 菜单项宽度
@cascader-width-s: 150px;

// 弹出面板不同状态的高度
@cascader-panel-height-normal: 200px;
@cascader-panel-height-multiple: 280px;
@cascader-icon-inner-width: 14px;

// menu面板
@cascader-menu-segment-color: @component-stroke;
@cascader-menu-padding: @pop-padding-m;
@cascader-menu-padding-s: @pop-padding-s;
@cascader-menu-padding-l: @pop-padding-l;

@cascader-color-empty: @text-color-disabled;

// item
@cascader-item-color-selected: @brand-color;
@cascader-item-color-hover: @bg-color-container-hover;
@cascader-item-color-disabled: @text-color-disabled;
@cascader-item-background-color-expanded: @brand-color-light;
@cascader-item-height-s: @comp-size-xs;
@cascader-item-height-default: @comp-size-s;
@cascader-item-height-l: @comp-size-m;
@cascader-item-margin-top: @comp-margin-xxs;
@cascader-item-border-radius: @border-radius-default;
@cascader-item-padding-with-icon: 0 calc(@comp-paddingLR-s + @cascader-icon-inner-width) 0 @comp-paddingLR-s;
@cascader-item-padding: 0 @comp-paddingLR-s;
@cascader-item-padding-s: 0px @comp-paddingLR-s;
@cascader-item-padding-l: 0 @comp-paddingLR-m;

// icon
@cascader-icon-color: @text-color-placeholder;
@cascader-icon-color-select: @brand-color;
