@import "../../base.less";

@import "./_var.less";

@import "../../utilities/_animation.less";

.@{prefix}-popup {
  &--content {
    position: fixed;
    z-index: 1500;
  }

  &--content-top {
    top: 0;
    left: 0;
    right: 0;
  }

  &--content-right {
    top: 0;
    right: 0;
    bottom: 0;
  }

  &--content-bottom {
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--content-left {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &--content-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
