[class*="@{d-prefix}-demo-item--pagination"] {

  .@{prefix}-pagination {
    &__select-demo {
      width: 88px;
      background-image: url(http://ue.qzone.qq.com/32);
      background-size: contain;
    }

    &__input-demo {
      width: 48px;
      background-image: url(http://ue.qzone.qq.com/32);
      background-size: contain;
    }
  }
}
