.pagination-number--size(@height; @font-size; @padding-horizontal; @line-height;) {
  height: @height;
  min-width: @height;
  line-height: @line-height;
  font-size: @font-size;
  padding-left: @padding-horizontal;
  padding-right: @padding-horizontal;
}

.pagination-number--color(@bg-color, @text-color) {
  background-color: @bg-color;
  color: @text-color;
  border-color: @bg-color;
}

.pagination-btn(@height) {
  width: @height;
  height: @height;
  line-height: @height;

  &:hover {
    background-color: @pagination-bg-color-btn-hover;
    transition: @pagination-hover-transition;
  }

  &:active {
    background-color: @pagination-bg-color-btn-active;
  }

  // 不可点
  &.@{prefix}-is-disabled,
  &.@{prefix}-is-disabled:hover,
  &.@{prefix}-is-disabled:active {
    background: none;
    color: @pagination-icon-color-disabled;
  }
}
