//颜色
@pagination-text-color: @text-color-secondary;
@pagination-text-color-disabled: @text-color-disabled;
@pagination-text-color-active: @text-color-anti;
@pagination-text-color-btn: @text-color-primary; // 非数字按钮的颜色
@pagination-bg-color-current: @brand-color;
@pagination-bg-color-hover: @brand-color-hover;
@pagination-bg-color-active: @brand-color;
@pagination-bg-color-disabled: @bg-color-component-disabled;
@pagination-bg-color-current-disabled: @brand-color-focus;
@pagination-bg-color-btn-hover: @bg-color-secondarycontainer-hover;
@pagination-bg-color-btn-active: @bg-color-secondarycontainer-active;
@pagination-bg-color-default: @bg-color-container;

@pagination-icon-color-disabled: @text-color-disabled;
@pagination-border-color: @component-border;
@pagination-border-radius-base: @border-radius-default;

// 尺寸
@pagination-height-s: @comp-size-xs;
@pagination-height-default: @comp-size-m;
@pagination-input-width: 56px;

// 字号
@pagination-font-s: @font-body-small;
@pagination-font-default: @font-body-medium;
@pagination-btn-font-size: @font-body-large;

// 间距
@pagination-padding-horizontal-s: @comp-paddingLR-xxs;
@pagination-padding-horizontal-default: @comp-paddingLR-xs;
@pagination-btn-margin: @comp-margin-s;
@pagination-jump-margin: @comp-margin-s;
@pagination-select-margin: @comp-margin-l;
@pagination-pager-margin: @comp-margin-s;
@pagination-jump-height: @comp-size-m;
@pagination-jump-padding-left: @comp-margin-s;
@pagination-jump-inner-height: calc(@comp-size-m - 4px);
@pagination-jump-height-small: @comp-size-xs;
@pagination-jump-inner-height-small: calc(@comp-size-xs - 4px);

// 过渡
@pagination-hover-transition: all @anim-duration-base @anim-time-fn-ease-in;
