@input-label-width: 80px;

@input-label-text-color: @text-color-primary;

@input-text-color: @text-color-primary;

@input-placeholder-text-color: @text-color-placeholder;

@input-disabled-text-color: @text-color-placeholder;

@input-suffix-color: @text-color-primary;

@input-icon-color: @text-color-placeholder;

@input-error-text-color: @error-color;

@input-font-size: 16px;

@input-icon-font-size: 24px;

@input-error-msg-font-size: @font-size-s;

@input-vertical-padding: 12px;

@input-horizontal-padding: 16px;
