@item: ~"@{prefix}-grid-item";

@grid-item-icon-font-size: 24px;

@grid-item-vertical-padding: var(--td-grid-item-vertical-padding, 16px 0 12px);
@grid-item-horizontal-padding: var(--td-grid-item-horizontal-padding, 16px 0);
@grid-item-bg-color: var(--td-grid-item-bg-color, @bg-color-container);
@grid-item-image-bg-color: var(--td-grid-item-image-bg-color, @bg-color-secondarycontainer);
@grid-item-image-border-radius: var(--td-grid-item-image-border-radius, @radius-default);
@grid-item-image-width: var(--td-grid-item-image-width, 48px);
@grid-item-image-small-width: var(--td-grid-item-image-small-width, 32px);
@grid-item-image-middle-width: var(--td-grid-item-image-middle-width, 40px);
@grid-item-text-color: var(--td-grid-item-text-color, @text-color-primary);
@grid-item-text-font-size: var(--td-grid-item-text-font-size, 14px);
@grid-item-text-line-height: var(--td-grid-item-text-line-height, 22px);
@grid-item-text-padding-top: var(--td-grid-item-text-padding-top, 8px);
@grid-item-description-font-size: var(--td-grid-item-description-font-size, 12px);
@grid-item-description-line-height: var(--td-grid-item-description-line-height, 20px);
@grid-item-description-color: var(--td-grid-item-description-color, @text-color-placeholder);
@grid-item-description-padding-top: var(--td-grid-item-description-padding-top, 4px);
@grid-item-hover-bg-color: var(--td-grid-item-hover-bg-color, @bg-color-secondarycontainer);
@grid-item-horizontal-text-padding-left: var(--td-grid-item-horizontal-text-padding-left, 12px);
@grid-item-horizontal-text-description-top: var(--td-grid-item-horizontal-text-description-top, 2px);
@grid-item-border-color: var(--td-grid-item-border-color, @component-stroke);
