@import "../../base.less";

@import "./_var.less";

.@{prefix}-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    font-size: @empty-icon-font-size;
    color: @empty-icon-color;
  }

  &__thumb + &__description:not(:empty) {
    margin-top: @empty-description-margin-top; // 描述内容顶部间距
  }

  &__description {
    text-align: center;
    color: @empty-description-color; // 描述内容颜色
    font-size: @empty-description-font-size; // 描述内容字体大小
    line-height: @empty-description-line-height; // 描述内容行高
  }

  &__description + &__actions:not(:empty) {
    margin-top: @empty-action-margin-top; // 操作内容顶部间距
  }
}
