.slide-top-enter-active {
  animation: @slide-top-in .3s;
}

.slide-top-leave-active {
  animation: @slide-top-out .3s;
}

.slide-right-enter-active {
  animation: @slide-right-in .3s;
}

.slide-right-leave-active {
  animation: @slide-right-out .3s;
}

.slide-bottom-enter-active {
  animation: @slide-bottom-in .3s;
}

.slide-bottom-leave-active {
  animation: @slide-bottom-out .3s;
}

.slide-left-enter-active {
  animation: @slide-left-in .3s;
}

.slide-left-leave-active {
  animation: @slide-left-out .3s;
}

.fade-zoom-enter-active {
  animation: @fade-zoom-in .35s;
}

.fade-zoom-leave-active {
  animation: @fade-zoom-out .35s;
}

.fade-enter-active {
  animation: @fade-in .3s;
}

.fade-leave-active {
  animation: @fade-out .3s;
}
