// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

@import "../popup/_var.less";

.@{popconfirm-cls} {
  .reset;

  min-width: 160px;
  border-radius: @popconfirm-border-radius;

  .@{prefix}-popup__content {
    padding: 0;
  }

  &.@{prefix}-popup[data-popper-placement^="top"] .@{prefix}-popup__arrow {
    bottom: calc(-@popup-arrow-width / 2);
  }

  &__content {
    position: @popconfirm-position;
    padding: @popconfirm-padding;
    border-radius: @popconfirm-border-radius;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    text-align: left;

    > .t-icon {
      display: inline-block;
      margin-right: @popconfirm-icon-margin-right;
      padding: @popconfirm-icon-padding;
      font-size: @popconfirm-icon-size;
    }
  }

  &__confirm {
    margin-left: @popconfirm-confirm-margin-right;
  }

  &__inner {
    display: inline-block;
    vertical-align: top;
    max-width: @popconfirm-max-width;
    font: @font-body-medium;
    color: @text-color-primary;
  }

  &__icon--warning {
    color: @popconfirm-icon-warning;
  }

  &__icon--danger {
    color: @popconfirm-icon-danger;
  }

  &__icon--default {
    color: @popconfirm-icon-default;
  }

  &__buttons {
    text-align: right;
    margin-top: @popconfirm-buttons-margin-top;

    > span:last-child {
      margin-right: 0;
    }
  }
}
