@import "../../base.less";

@import "./_var.less";

.@{prefix}-fab {
  position: absolute;
  width: auto;
  min-width: @fab-min-width;
  height: @fab-height;
  line-height: normal;
  padding: 0 @fab-horizontal-padding;
  box-sizing: border-box;
  border-radius: 24px;

  .@{prefix}-button__text {
    display: flex;
    align-items: center;
  }

  &::after {
    border-radius: inherit;
  }

  .@{prefix}-icon + &__text:not(:empty) {
    margin-left: @fab-text-margin-left;
  }

  &--icon-only {
    padding: 0;
    border-radius: @radius-circle;
  }
}
