//颜色
@anchor-text-color-default: @text-color-primary;
@anchor-text-color-hover: @brand-color;
@anchor-text-color-current: @brand-color; // 被选中的字体、左侧竖线色值
@anchor-text-color-active: @brand-color-active;
@anchor-bg-color: @bg-color-container;
@anchor-border-color: @component-stroke; // anchor左侧竖线颜色

// 尺寸
@anchor-width-s: 120px;
@anchor-width-default: 200px;
@anchor-width-l: 320px;
@anchor-point-width: 1px; // 选中竖线的宽度
@anchor-target-width: 6px;

// 字体
@anchor-font: @font-body-medium;

// 间距
@anchor-item-padding: @comp-paddingTB-xxs @comp-paddingTB-l; // 一级锚点padding

@anchor-sub-item-padding: @comp-paddingTB-xxs @comp-paddingTB-l; // 二级锚点padding

@anchor-target-copy-margin: 0 0 0 @comp-margin-xs;

// 动画
@anchor-point-transition: all @anim-duration-base
  cubic-bezier(.24, .41, .51, .9);
@anchor-target-animation: fadeOut 2s 2s linear 1;
