@card-border-radius: @border-radius-medium;

// medium
@card-body-padding: @comp-paddingTB-l @comp-paddingLR-xl;
@card-header-padding: @comp-paddingTB-l @comp-paddingLR-xl;
@card-footer-padding: @comp-paddingTB-l @comp-paddingLR-xl;
@card-avatar-size: @comp-size-xxxl;

// small
@card-body-padding-s: @comp-paddingTB-s @comp-paddingLR-l;
@card-header-padding-s: @comp-paddingTB-s @comp-paddingLR-l;
@card-footer-padding-s: @comp-paddingTB-s @comp-paddingLR-l;

@card-border-color: @component-border;
@card-background: @bg-color-container;
@card-color: @text-color-primary;
@card-subtitle-color: @text-color-secondary;

// margin
@card-avatar-margin: @comp-margin-l;
@card-description-margin: @comp-margin-xs;
@card-title-margin: @comp-margin-l;
