// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-button-group {
  display: inline-flex;
  width: 100%;
  height: @button-group-default-height;
  background-color: @button-group-background-color;

  &--menu {

    & .@{prefix}-button:not(:first-child)::before {
      position: absolute;
      top: (@button-group-default-height - @button-group-split-line-height)/2;
      height: @button-group-split-line-height;
      left: 0;
      content: "";
      width: 0;
      border-left: solid  @component-stroke 1px;
    }
  }

  & .@{prefix}-button {
    flex: 1;
    padding: 0;

    /* stylelint-disable-next-line */
    -webkit-flex: 1;
    border: 0;
    border-radius: 0;
    height: inherit;
    box-shadow: 0;
  }
}
