@message-margin-x: 16px;

@message-margin-y: @message-margin-x;

@message-text-color: @text-color-anti;

@message-text-font-size: @font-size-base;

@message-text-line-height: 22px;

@message-align: flex-start;

@message-padding-top: 12px;

@message-padding-bottom: @message-padding-top;

@message-padding-left: 16px;

@message-padding-right: @message-padding-left;

@message-icon-size: 20px;

@message-icon-color: #fff;

@message-icon-margin-right: 8px;

@message-icon-margin-left: 8px;

@message-border-radius: @radius-small;

@message-z-index: 5000;

@message-color: @brand-color-8;
