@collapse-header-text-color: @text-color-primary;
@collapse-content-text-color: @text-color-primary;
@collapse-header-text-disabled-color: @text-color-disabled;
@collapse-list-content-text-color: @text-color-primary;

// font-size
@collapse-title-font-size: calc(@font-size * 1.6);
@collapse-extra-font-size: calc(@font-size * 1.6);
@collapse-content-font-size: calc(@font-size * 1.4);

@collapse-header-height: 48px;
@collapse-horizontal-padding: 16px;
@collapse-content-padding: 12px;
@collapse-content-line-height: 22px;

@collapse-border: 1px solid #eee;
@collapse-shadow-bottom: inset 0 -1px 0 0 #EEEEEE;
