.bar-track-pseudo(@w:100%, @h:100%, @top:auto, @right:auto, @bottom:auto, @left:auto) {
  content: "";
  width: @w;
  height: @h;
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
  background-color: @tab-card-stroke;
}
