@import "../../../base.less";

@import "./_var.less";

.@{prefix}-cell-group {
  position: relative;

  &__title {
    font-family: PingFangSC-Regular;
    font-size: @cell-group-title-font-size;
    color: @cell-group-title-color;
    text-align: left;
    line-height: @cell-group-title-line-height;
    padding-left: @cell-group-title-padding-left;
  }

  &--bordered {
    &::before {
      .hairline-top(@cell-group-border-color);

      z-index: 1;
    }

    &::after {
      .hairline-bottom(@cell-group-border-color);

      z-index: 1;
    }
  }

  &--card {
    margin: 0 16px;
    border-radius: @radius-large;
    overflow: hidden;
  }
}
