.textarea-status(@status) {

  &.@{prefix}-is-@{status} {
    border-color: @@borderColor;
    @borderColor: "textarea-border-color-@{status}";

    &:focus {
      box-shadow: 0 0 0 2px @@boxShadowColor;
      @boxShadowColor: "textarea-box-shadow-color-@{status}-focus";
    }
  }
}
