@checkbox-title-font-size: calc(@font-size * 1.6);
@checkbox-title-color: @text-color-primary;
@checkbox-title-color-disabled: @text-color-disabled;

@checkbox-icon-size: 22px;

@checkbox-icon-checked: calc(@font-size * 2.4);

@checkbox-icon-unchecked-color: @gray-color-4;
@checkbox-icon-checked-color: @brand-color;

@checkbox-icon-margin: @spacer;

@checkbox-content-inner-top-margin: 4px;

@checkbox-label-wrap-left-padding: 48px;
