.@{d-prefix}-demo-item--skeleton {
  .t-skeleton-demo-card {
    .header,
    .content {
      padding: 16px 0;
    }
  }

  .t-skeleton-demo-delay {
    .header {
      margin-bottom: 20px;

      :first-child {
        margin-right: 20px;
      }
    }

    .content {
      height: 100px;
    }
  }

  .row-col-content {
    width: 100%;
    text-align: center;

    &__header {
      padding: 10px;
      border-bottom: 1px solid @gray-color-4;
    }

    &__content {
      padding: 10px;
      height: 200px;
    }
  }
}
