name: Compressed Size

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  compressed-size:
    runs-on: ubuntu-latest
    if: startsWith(github.head_ref, 'release/')
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          install-script: "pnpm install"
          pattern: "packages/tdesign-vue-next/dist/**/*.{js,css}"