name: Project & Label Trigger Workflow

on:
  issues:
    types: [labeled, unlabeled]

jobs:
  projects-label-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: label to project
        uses: TDesignOteam/tdesign-projects-action@develop
        env:
          GH_TOKEN: ${{ secrets.TDESIGN_BOT_TOKEN }}
          PROJECT_TYPE: LABEL2TRIGGER
          PROJECT_ID: 1
