@image-color: var(--td-image-color, @text-color-placeholder);
@image-loading-bg-color: var(--td-image-loading-bg-color, @bg-color-secondarycontainer);
@image-loading-color: var(--td-image-loading-color, @text-color-placeholder);
@image-round-radius: var(--td-image-round-radius, @radius-default);
