@import "../../base.less";

@import "./_var.less";

.@{prefix}-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    line-height: @result-title-line-height;
    font-size: @result-title-font;
    font-weight: 700;
    color: @result-title-color;
  }

  &__icon {
    font-size: 80px;
  }

  &__thumb + &__title:not(:empty) {
    margin-top: @spacer;
  }

  &__description {
    text-align: center;
    color: @result-description-color;
    font-size: @result-description-font;
    line-height: @result-description-line-height;
  }

  &__title + &__description:not(:empty) {
    margin-top: @spacer-1;
  }

  // theme
  &--theme {
    &-default {
      color: @result-default-color;
    }

    &-success {
      color: @result-success-color;
    }

    &-warning {
      color: @result-warning-color;
    }

    &-error {
      color: @result-error-color;
    }
  }
}
