@result-title-font: @font-size-l;
@result-title-line-height: calc(@font-size * 2.8);
@result-title-color: rgba(0, 0, 0, .9);

@result-description-font: calc(@font-size * 1.4);
@result-description-line-height: calc(@font-size * 2.2);
@result-description-color: rgba(0, 0, 0, .6);

@result-default-color: #0052d9;
@result-success-color: #00a870;
@result-warning-color: #ed7b2f;
@result-error-color: #e34d59;
