/* 竖排展示 demo 行间距 16px */
.tdesign-demo-block-column {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

/* 竖排展示 demo 行间距 32px */
.tdesign-demo-block-column-large {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

/* 横排排展示 demo 列间距 16px */
.tdesign-demo-block-row {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
